body {
	font-family: Arial;
	padding: 0;
	margin: 0;
}

div#container {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;

}

div#topbar {
	display: flex;
	flex-direction: row;
	background-color: #7342aa;

}

div#content {
	display: flex;
	flex-direction: row;
	padding: 5px;

}

div#navarea {
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
}

div#searcharea {
	display: flex;
	flex-direction: row;
	padding: 1em;
}

div#genrearea {
	display: flex;
	flex-direction: row;
	padding: 1em;
}

div#loginarea {
	display: flex;
	flex-direction: row;
	padding: 1em;
}

input#searchbar {
	flex-grow: 1;
	flex-basis:88%;
}

input#userbar {
	margin-right: 10px
}

input#passbar {
	margin-right: 10px
}

button#searchbutton {	
	flex-grow: 1;
}

button#loginbutton {	
	
}

h1#title {
	padding-left: 1em;
	margin: 0;
	white-space: nowrap;
	align-self: center;
}

img#logo {
	
	
}

button.genrebutton {
	margin-left: 10px;
	margin-right: 10px;
	flex-basis: 20%;
	font-size: 25;
	border: none;
	background-color: rgba(255, 255, 255, 0);
	
}

button.genrebutton:hover {
	outline: 2px solid grey;
	
}